# Ignore everything adjacent
/*

# Track the root gitignore file
!.gitignore

# Track the project readme
!README.md

# Track the composer config
!composer.json

# Track plugin
!mws-click-to-reveal/

# Don't track vendor stuff for git project (but do distribute with WP plugin RCs)
mws-click-to-reveal/vendor


!mws-click-to-reveal-svn
mws-click-to-reveal-svn/*
!mws-click-to-reveal-svn/assets
